.header-content {
  background-color: #3a3a43;
  font-size: 17px;
  height: 50px;
  display: flex;
  align-items: center;
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff; 
      // font-size: 15px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    a:hover{
      color: #fc0;
    }
    li {
      margin-right: 20px;
      span {
        padding-bottom: 13px;
        &:hover {
          border-bottom: 3px solid #fc0;
        }
      }
    }
    li:last-child {
      .header-content__absolute {
        background-image: url("../../img/Absolut-Logo.svg");
        width: 100px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
        &:hover {
          background-image: url("../../img/Absolut-Logo-Blue.svg");
        }
      }
    }
    li:nth-child(2), li:nth-child(3) {
      border-bottom: 1px dotted #fff;
      &:hover {
        border-bottom: 1px dotted #fc0;
      }
    }
    .header-content__specials {
      margin-left: 24px;
      a {
        color: #ff7d41;
        span {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -24px;
            // width: 20px;
            // height: 20px;
            background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") 2px -109px no-repeat;
            padding: 24px 34px 0 0;
          }
        }
      }  
    }
  } // ul
}