.header-top {
  background-color: #000;
  color: #90b6c3;
  display: flex;
  justify-content: space-between;
  ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap; //?
    li {
      margin-right: 20px;
    }
  }
  .header-top__regions {

  }
  .header-top__user {

  }
}