.header-top {
  background-color: #000;
  color: #b9b9c3; 
  display: flex;
  justify-content: space-between;
  font-size: 12px; // set for links?
  ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap; //?
    li {
      margin-right: 20px;
    }
    a {
      text-decoration: none;
      color: #b9b9c3; 
      
    }
    a:hover{
      color: #fff;
    }
  } // ul
  .header-top__regions {
    margin-left: 40px;  // centering uls 40px from both sides
  }
  .header-top__user {
    margin-right: 40px; // centering uls 40px from both sides
    li {
      // margin-right: 30px;
      padding-right: 28px;
      a {
        span {
          position: relative;
          &::before {
            content: "";
            position: absolute;
          }
        }
      } // a
      .header-top__ad { // a tag a.header-top__ad ?
        span::before {
          top: 0px;
          left: -20px;
          background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") -51px 0px no-repeat;
          width: 14px;
          height: 14px;  // or use padding: 14px 0 0 14px; instead of width ad height
        }
        &:hover {
          span::before {
            background-position: -66px 0px;
          }
        }
      }
      .header-top__register {
        span::before {
          top: 0px;
          left: -22px;
          background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") 0px -67px no-repeat;
          width: 17px;
          height: 16px; // or use padding instead of width ad height
        }
        &:hover {
          span::before {
            background-position: -17px -67px;
          }
        }
      }
      .header-top__login {
        span::before {
          top: 0px;
          left: -20px;
          background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") 0px -33px no-repeat;
          width: 16px;
          height: 16px; // or use padding instead of width ad height
        }
        &:hover {
          span::before {
            background-position: -17px -33px;
          }
        }
      }
    } // li
    li:last-child {
      padding-right: 0;
      margin-right: 0;
    }
  } // .header-top__user
}