.header-top {
  background-color: #000;
  color: #b9b9c3; 
  display: flex;
  justify-content: space-between;
  font-size: 12px; // set for links?
  ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap; //?
    li {
      margin-right: 20px;
    }
    a {
      text-decoration: none;
      color: #b9b9c3; 
    }
    a:hover{
      color: #fff;
    }
  }
  .header-top__regions {
    margin-left: 40px;
  }
  .header-top__user {

  }
}