.main-content {
  max-width: 976px;
  margin-left: 60px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  .main-content__wrapper-promotions {
    border: 2px solid #cccccc;
    padding: 0 30px;
  }
  .main-content__nav {
    display: flex;
    color: #0072be;
    .main-content__new-built {
      margin-right: 6px;
    }
    a {
      text-decoration: none;
      color: #0072be;
    }
  }
}