.promotions {
  .promotions__promotion {
    img {
      margin-right: 20px;
    }
    display: flex;
    .promotions__img-content {
      h4 {

      }
      p:nth-child(2) {

      }
      div:nth-child(3) {
        float: right;
        > p {
          margin: 0 0 6px 0;
        }
        span:nth-child(2) {
          margin-right: -2px;
        }
        span:nth-child(2), span:nth-child(3) {
          background-color: #424242;
          color: #fff;
          padding: 1px 4px;
          font-size: 20px;
          font-weight: 500;
        }
        span:nth-child(3) {
          margin-right: 4px;
        }
        span:nth-child(4) {

        }
      }
    }
  } // .promotions__promotion
}