.promotions {
  .promotions__promotion {
    display: flex;
    margin-bottom: 10px;
    .promotions__image { // flex item
      margin-right: 20px;
      position: relative;
      .promotions__expired {
        position: absolute;
        top: 10px;
        right: 9px;
        width: 35%;
        background-color: #ff5f47;
        padding: 4px 0;
        text-transform: uppercase;
        text-align: center;
        border-radius: 3px;
        font-size: 12px;
        color: #fff;
        margin: 0;
      }
      img {  
      }
    }
    .promotions__img-content { // flex item
      display: flex;
      .promotions__left-content {
        flex-basis: 78%;
        margin-right: 8%;
      } // .promotions__left-content
      .promotions__counter {
        flex-basis: 14%;
        align-self: center;
        > p {
          margin: 0 0 6px 0;
        }
        span:nth-child(2) {
          margin-right: -2px;
        }
        span:nth-child(2), span:nth-child(3) {
          background-color: #424242;
          color: #fff;
          padding: 1px 4px;
          font-size: 20px;
          font-weight: 500;
        }
        span:nth-child(3) {
          margin-right: 4px;
        }
        span:nth-child(4) {

        }
      } //.promotions__counter
    } // .promotions__img-content
  } // .promotions__promotion
}