.top-promotion {
  .top-promotion__header {
    display: flex;
     // flex-wrap: wrap;
    > p:first-child {
      font-size: 24px;
      flex: 1 0 50%;
    }
    .top-promotion__counter {
      flex: 1 0 50%;
    }
    .top-promotion__expired {
      flex: 0 1 100%;
    }
  } // .top-promotion__header
}