.top-promotion {
  .top-promotion__nav {
    display: flex;
    color: #0072be;
    .top-promotion_new-built {
      margin-right: 6px;
    }
  }
  .top-promotion__header {
    font-size: 24px;
  }
}